In [9]:
from pandas import read_csv
from einfuehrung.Labor_2_Clustering import k_means, distance_euklid

In [10]:
df = read_csv('telematik_agg_v2.csv')
df.head()

,Unnamed: 0.1,Unnamed: 0,DrivAge,rel_risk,Mileage,max_accel_x,min_accel_x,max_accel_y,min_accel_y,max_speed_mw,...,ratio_urban,ratio_rural,ratio_night,ratio_precip,ratio_rush,four_accel_1,four_accel_2,four_accel_3,four_accel_4,driving_skill
0,0,3,52,0.025511,6235.337875,4.270571,-3.186554,2.236002,-1.696633,139.580307,...,0.234289,0.617811,0.159878,0.182537,0.065222,2.470029,0.000814,82.928661,3782.818447,3
1,1,7,38,0.093298,2520.900336,1.787043,-3.118378,2.129723,-1.241005,157.229086,...,0.348099,0.493600,0.162678,0.153850,0.138712,-3.454407,0.404569,30.738335,496.235516,5
2,2,16,44,0.119460,14136.719210,4.403333,-3.074536,2.512433,-1.387016,166.693425,...,0.226000,0.640880,0.161343,0.200200,0.180049,-25.788232,3.060334,157.741334,3917.657266,5
3,3,17,32,0.023914,7718.314400,0.481826,-3.012558,1.783253,-2.248576,136.874746,...,0.225024,0.619133,0.151244,0.165610,0.365876,2.066236,79.250061,174.778169,2958.453923,3
4,4,22,73,0.108091,3495.908846,14.967886,-2.792939,2.182035,-1.979150,164.069706,...,0.196956,0.648112,0.156745,0.114058,0.000403,10.282886,0.000067,28.245054,792.581652,5

In [11]:
df_2 = df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0', 'driving_skill'])
df_2.head()

,DrivAge,rel_risk,Mileage,max_accel_x,min_accel_x,max_accel_y,min_accel_y,max_speed_mw,max_speed_urban,max_speed_rural,ratio_mw,ratio_urban,ratio_rural,ratio_night,ratio_precip,ratio_rush,four_accel_1,four_accel_2,four_accel_3,four_accel_4
0,52,0.025511,6235.337875,4.270571,-3.186554,2.236002,-1.696633,139.580307,131.528249,55.806158,0.147900,0.234289,0.617811,0.159878,0.182537,0.065222,2.470029,0.000814,82.928661,3782.818447
1,38,0.093298,2520.900336,1.787043,-3.118378,2.129723,-1.241005,157.229086,136.481766,58.827611,0.158301,0.348099,0.493600,0.162678,0.153850,0.138712,-3.454407,0.404569,30.738335,496.235516
2,44,0.119460,14136.719210,4.403333,-3.074536,2.512433,-1.387016,166.693425,136.615064,61.657666,0.133120,0.226000,0.640880,0.161343,0.200200,0.180049,-25.788232,3.060334,157.741334,3917.657266
3,32,0.023914,7718.314400,0.481826,-3.012558,1.783253,-2.248576,136.874746,131.570166,56.072814,0.155843,0.225024,0.619133,0.151244,0.165610,0.365876,2.066236,79.250061,174.778169,2958.453923
4,73,0.108091,3495.908846,14.967886,-2.792939,2.182035,-1.979150,164.069706,135.150505,60.160611,0.154932,0.196956,0.648112,0.156745,0.114058,0.000403,10.282886,0.000067,28.245054,792.581652

In [12]:
clusters = k_means(df_2, 5, distance_euklid)
clusters

run number is 0

TypeError: 'numpy.float64' object is not callable